/*
cat-theme.css is used for overrides of existing Aurora CSS class names, or tags.
All component specific CSS lives in the React file with the component. 
*/

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
  padding-top: 0px;
}

.app {
  text-align: center;
}

/* App header overridden class */
.fixed-top {
  z-index: 998;
}

/* Headers */

/* h1: add green line underneath */
h1.green-divider:after,
h2.green-divider:after {
  content: " ";
  display: block;
  border-bottom: 2px solid #c7e68c;
  padding-bottom: 12px;
}

h1 {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.5em;
}

h2 {
  color: #00565e;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.5em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.5em;
}

h4 {
  margin-top: 18px;
  margin-bottom: 4px;
  color: #00565e;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.5em;
}
p {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.gradient-bar {
  background-image: linear-gradient(#004db8, rgb(230, 230, 230));
}

/* Fields */
.valid-field {
  border: 1px solid #00565e !important;
  border-radius: 4px;
}

.valid-field:focus {
  border: 1px solid #00565e !important;
  outline: none !important;
  box-shadow: 0 0 10px #00565e !important;
}

.invalid-field {
  border: 3px solid #923534 !important;
  border-radius: 8px;
}

.invalid-field:focus {
  border: 3px solid #923534 !important;
  outline: none !important;
  box-shadow: 0 0 10px #923534 !important;
}

.input-disabled-look {
  background-color: #F6F6F6;
  color: grey;
}

/* Buttons */
.btn-primary {
  background-color: #00565e;
  border-color: #00565e;
}

.btn-primary:hover {
  background-color: #327d78;
  border-color: #327d78;
}

.btn-primary:active {
  background-color: #00565e !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #009fae;
}

.btn-secondary {
  color: #00565e;
  border-color: #00565e;
  background-color: white;
}

.btn-secondary:hover {
  background-color: #00565e;
}

.btn-secondary:active {
  background-color: #00565e !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #00565e;
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem #009fae;
}

.btn-wide {
  width: 400px;
  margin-bottom: 10px;
}

.centered-buttons {
  text-align: center;
}

.btn-backtotop {
  background-color: white;
}

.btn-backtotop:hover {
  background-color: #00565e;
}

/* Nav */

.nav-tabs {
  border-bottom: 2px solid #cdcdcd;
}

.tab-content {
  background-color: #ffffff;
}

#emib-tabs-tabpane-instructions,
#emib-tabs-tabpane-background,
#emib-tabs-tabpane-inbox {
  border: 1px solid #cdcdcd;
}

.nav-tabs .nav-link {
  text-decoration: underline;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent transparent #00565e;
  border-bottom-width: 4px;
  text-decoration: none;
}
.nav-tabs .nav-link.disabled {
  color: #00565e;
  text-decoration: none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  text-decoration: none;
  border-bottom-width: 4px;
  color: #00565e;
  border-color: transparent transparent #00565e;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #00565e;
}

/* visually hidden, but stil accessible */
.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-button-hover {
  border: 1px solid transparent;
}

.radio-button-hover:focus-within {
  border: 1px solid #00565e;
}

/* formatting for sizing of drop down menus */
.rrs {
  width: calc(100% - 35px);
  float: right;
  margin-bottom: 12px;
}

.rrs__button {
  border: 1px solid #00565e;
  border-radius: 4px;
  resize: none;
  box-shadow: none;
}

/* overriding some of the modal styles */
.ReactModal__Overlay {
  z-index: 9999;
}

.modal-header .close {
  padding: 0px;
  margin: 4px 4px;
  font-size: 30px;
}

.modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* overriding form group bottom margin */
.form-group {
  margin-bottom: 0;
}

.btn-danger:disabled {
  background-color: #923534;
  border-color: #923534;
}

/* overriding switch style */
.switch-custom-style {
  vertical-align: middle;
}
/* Used for the current "burger" button in SideNavs */
.navbar-toggler {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
/* Used for GenericTable styling */
.table-responsive {
  background-color: rgb(0, 86, 94);
  border-radius: 4px 4px 0 0;
  border-collapse: collapse;
  overflow-x: visible;
}
.table-responsive .table {
  background-color: #fafafa;
  border-left: 1px solid rgb(0, 86, 94);
  border-right: 1px solid rgb(0, 86, 94);
  border-bottom: 1px solid rgb(0, 86, 94);
}
/* Used for Test Access Permissions responsive table styling */
.table-responsive-no-styling .table-responsive {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: white;
}
.table-responsive-no-styling .table-responsive .table {
  background-color: #fafafa;
  border: none;
}
/* The following settings override the alert library to force the desired background colour*/
.alert-success {
  background-color: #D8EECA;
  border-left: 8px solid #278400;
}
.alert-danger {
  background-color: #F3E9E8;
  border-left: 8px solid #AE070A;
}
.alert-warning {
  background-color: #FCF1CE;
  border-left: 8px solid #FBC710;
}
.alert-info {
  background-color: #C7E7EB;
  border-left: 8px solid #0099A8;
}
.alert-light {
  background-color: #fefefe;
  border-left: 8px solid #00565e;
}

