/*
font-select.css is used for the FontFamily.jsx styles that cannot be added inside a const
*/
@font-face {
  font-family: "OpenDyslexic";
  /* src: url("../../public/OpenDyslexic-Regular.otf");
   */
  src: url("./OpenDyslexic-Regular.otf");
}

.font-family__option:nth-child(1) {
  font-family: "Nunito Sans";
}

.font-family__option:nth-child(2) {
  font-family: "APHont";
}

.font-family__option:nth-child(3) {
  font-family: "Arial";
}

.font-family__option:nth-child(4) {
  font-family: "Arial Black";
}

.font-family__option:nth-child(5) {
  font-family: "Arial Narrow";
}

.font-family__option:nth-child(6) {
  font-family: "Calibri";
}

.font-family__option:nth-child(7) {
  font-family: "Times New Roman";
}

.font-family__option:nth-child(8) {
  font-family: "Verdana";
}

.font-family__option:nth-child(9) {
  font-family: "OpenDyslexic";
}

.font-family__option:nth-child(10) {
  font-family: "Tahoma";
}
