/*
personal-info.css is used for the PersonalInfo.jsx styles that cannot be added inside a const
*/

.profile-personal-info-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 12px;
}

.profile-personal-info-first-column {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 335px;
}

.profile-personal-info-second-column {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 335px;
}

.profile-personal-info-third-column {
  -ms-grid-column: 3;
  grid-column: 3;
  width: 335px;
  margin-left: 12px;
}
