/*
site-nav-menu.css is used for the SiteNavMenu.jsx styles that cannot be added inside a const
*/

#dropdown-basic {
  background-color: transparent;
  border: none;
  color: #00565e;
  font-size: 20px;
  font-weight: normal !important;
}

.dropdown-menu {
  background-color: #00565e;
}

.dropdown-item {
  background-color: #00565e;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #0099a8 !important;
}

.dropdown-item-active {
  background-color: #002d42;
}
