/* Buttons */
.deleteButton {
    background-color: transparent !important;
    border-color: transparent !important;
    
}
.deleteButton .fa-times {
    transform: scale(2);
}
  
.deleteButton:hover {
    color: #00565e !important;
}

.deleteButton:active {
    background-color: transparent !important;
}

.deleteButton:focus {
    border: 1px solid #00565e !important;
    outline: 0 !important;
}